{% extends 'charade/base.html' %}
{% load i18n %}
{% block titles %}Scores Board{% endblock %}
{% block content %}
{% if board %}
<div class="row text-center">
    {% if board.has_previous %}
    <strong><a href="?page={{ board.previous_page_number }}">{% trans 'Previous' %}</a></strong>
    {% endif %}

    <em>Page {{ board.number }} of {{ board.paginator.num_pages }}</em>

    {% if board.has_next %}
    <strong>
        <a href="?page={{ board.next_page_number }}">{% trans 'Next' %}</a>
    </strong>
    {% endif %}
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <caption class="text-center">{% trans 'Score Board' %}</caption>
        <thead>
            <tr>
                <th>{% trans 'Team id' %}</th>
                <th>{% trans 'Amount of words' %}</th>
                <th>{% trans 'Scores' %}</th>
                <th>{% trans 'Start' %}</th>
                <th>{% trans 'End' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for b in board %}
            <tr>
                <td>{{ b.id }}</a></td>
                <td>{{ b.amount }}</a></td>
                <td>{{ b.scores }}</a></td>
                <td>{{ b.dt_start }}</a></td>
                <td>{{ b.dt_end }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row text-info text-center">
    <p><strong>{% trans 'Not available.' %}<strong></p>
</div>
{% endif %}
{% endblock %}
