{% extends 'charade/base.html' %}
{% block title %}explanation{% endblock %}
{% block content %}
{% if vocabulary %}
    <div class="row text-center">
        <p style="font-size: 160px;color: black;">{{ vocabulary.en }}</p>
    </div>
    <div class="row">
        <p class="text-success">中文：{{ vocabulary.zh }}</p>
        <p class="text-success">解释：{{ vocabulary.exp }}</p>
    </div>
{% else %}
    <div class="row text-center">
        <p class="text-warning">Not available.</p>
    </div>
{% endif %}
{% endblock %}
