{% extends 'charade/base.html' %}
{% load i18n staticfiles %}
{% block titles %}{% trans 'Explanation' %}{% endblock %}
{% block css4this %}
    <link rel="stylesheet" href="{% static 'charade/css/charade-play.css' %}">
{% endblock %}
{% block content %}
{% if vocabulary %}
    <div class="row text-center">
        <p class="vocabulary-en">{{ vocabulary.en }}</p>
    </div>
    <div class="row">
        <p class="text-success">{% trans 'Chinese' %} : {{ vocabulary.zh }}</p>
        <p class="text-success">{% trans 'Explanation' %} : {{ vocabulary.exp }}</p>
    </div>
{% else %}
    <div class="row text-center">
        <p class="text-warning">{% trans 'Not available' %}.</p>
    </div>
{% endif %}
{% endblock %}
