{% load i18n staticfiles %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-need-collapsed">
                <span class="sr-only">navbar toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="img-rounded img-avatar" src="{% static 'charade/images/avatar.jpg' %}" alt="Home" title="{% trans 'Back Home? Click me.' %}" />
            </a>
            <a class="navbar-brand" href="/">
                Nosmo King
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-need-collapsed">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       {% trans 'Widgets' %}
                       <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                       <li>
                            <a href="{% url 'upload:pic-list' %}" title="{% trans 'Jump to gallary' %}">{% trans 'Gallary' %}</a>
                       </li>
                       <li class="divider"></li>
                       <li>
                            <a href="{% url 'polls:index' %}" title="{% trans 'Jump to polls' %}">{% trans 'Polls' %}</a>
                       </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'charade:game_board' %}" title="{% trans 'Login needed' %}">{% trans 'Score-Board' %}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'accounts:profile' %}" title="{% trans 'View Profile' %}" class="navbar-link">
                        {{ user.username }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'accounts:logout' %}" title="{% trans 'Sign Out' %}" class="navbar-link">
                        {% trans 'Sign Out' %}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'accounts:login'%}" title="{% trans 'Sign In' %}" class="navbar-link">
                        {% trans 'Sign In' %}
                    </a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>
