{% extends 'charade/base.html' %}
{% load i18n staticfiles %}
{% block titles %}Play{% endblock %}
{% block js4this %}
    <script src="{% static 'charade/js/charade-play.js' %}"></script>
{% endblock %}
{% block css4this %}
    <link rel="stylesheet" href="{% static 'charade/css/charade-play.css' %}">
{% endblock %}
{% block content %}
{% if msgs %}
    <div class="row text-center">
        <h3><p class="text-success"><strong>{{ msgs }}<strong></p></h3>
    </div>
{% endif %}
{% if word_list %}
{% for w in word_list %}
    <div class="row text-center">
        <form class="form-inline" role="form" action="{% url 'charade:game_score' w.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <strong>{% trans 'Make a Score' %} :<strong>
                <label class="radio-inline">
                    <input type="radio" name="scores" id="choice1" value="1">1 {% trans 'point' %}
                </label>
                <label class="radio-inline">
                    <input type="radio" name="scores" id="choice2" value="2" checked>2 {% trans 'points' %}
                </label>
            </em>
            <button type="submit" class="btn btn-primary">{% trans 'Next One' %}</button>
            </div>
        </form>
    </div>
    <div class="row text-center">
        <a href="{% url 'charade:explanation' w.vid %}" title="Explanation" target="_blank">
            <span class="vocabulary-en">{{ w.en }}</span>
        </a>
    </div>
    <div class="row">
        <p class="text-success">{{ w.zh }}</p>
    </div>
{% endfor %}
{% endif %}
{% if used_word_list %}
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <caption class="text-center">{% trans 'Review' %}</caption>
            <thead>
                <tr>
                    <th>{% trans 'English' %}</th>
                    <th>{% trans 'Chinese' %}</th>
                    <th>{% trans 'Scores' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for w in used_word_list %}
                <tr>
                    <td><a href="{% url 'charade:explanation' w.vid %}" title="Explanation" target="_blank">{{ w.en }}</a></td>
                    <td>{{ w.zh }}</td>
                    <td>{{ w.scores }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="row">
        <p class="text-center" id="showtime"></p>
    </div>
{% endif %}
{% endblock %}
