{% extends 'charade/base.html' %}
{% load i18n staticfiles %}
{% block titles %}let's charade{% endblock %}
{% block js4this %}
    <script src="{% static 'charade/js/charade-ready.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
       <h3><p id="warning" class="text-danger text-center"></p></h3>
    </div>
    <div class="row text-center">
        <div class="col-xs-offset-1 col-xs-10">
            <form class="form-inline" role="form" id="form-setting" action="{% url 'charade:game_set' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <input class="form-control" type="text" id="amount" name="amount" placeholder="{% trans 'number of words' %}" maxlength="3">
                    <p></p>
                    <button type="button" class="btn btn-primary btn-block" id="ready2go">{% trans 'Play' %}</button>
                </div>
            </form>
        </div>
    </div>

    <!-- i18n Start -->
    {% include "charade/i18n.html" %}
    <!-- End of i18n -->

{% endblock %}
