{% load extra_tags %}
{% if not field.is_hidden %}
            {% if field.help_text %}
            <div class="form-group">
                <span class="text-help">
                    {{ field.help_text|safe }}
                </span>
            </div>
            {% endif %}
            <div class="form-group">
                <span class="span-left">
                    <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    </label>
                    {% if field.field.required %}
                    <span class="span-asterisk">*</span>
                    {% endif %}
                </span>
                <span class="span-right">
                    {% if not field|is_checkbox %}
                        {{ field }}
                    {% endif %}
                </span>
            </div>
            {% if field.errors %}
            <div class="form-group">
                <ul class="ul-errorlist">
                    {{ field.errors|unordered_list }}
                </ul>
            </div>
            {% endif %}
            {% if field|is_checkbox %}
            <div class="form-group">
                {{ field }}
            </div>
            {% endif %}
{% else %}
            <div class="form-group">
                {{ field }}
            </div>
{% endif %}
