{% extends "accounts/base.html" %}
{% load i18n staticfiles %}
{% block titles %}{% trans 'Registration' %}{% endblock %}
{% block js4this %}
    <script src="{% static 'accounts/js/accounts-login.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-1 col-sm-1 col-md-4"></div>
    <div class="col-xs-10 col-sm-10 col-md-4">
        <form class="form-horizontal" method="post" action=".">
            {% csrf_token %}
            {% if form.errors %}
                {% include "accounts/errors.html" %}
            {% endif %}
            {% for field in form %}
                {% include "accounts/fields.html" %}
            {% endfor %}
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Apply' %}" />
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-4"></div>
</div>
{% endblock %}
