{% extends "upload/base.html" %}
{% load static %}
{% block titles %}Picture List{% endblock %}
{% block content %}
    <div class="row text-info text-right">
        <p><a href="{% url 'upload:pic-add'%}">ADD PICTURE</a></p>
    </div>
{% if all_pics %}
    <div class="row">
    {% for pic in all_pics %}
        <div class="pull-left text-center">
            <img class="img-rounded" src="{% get_media_prefix %}{{ pic.file }}" title="{{ pic.file }}" style="width: 128px; height: 128px;" />
            <br />
            <a class="text-danger" href="{% url 'upload:pic-delete' pic.id %}">Delete</a>
        </div>
    {% endfor %}
    </div>

{% else %}
    <p>0 pictures.</p>
{% endif %}

{% endblock %}