{% extends "upload/base.html" %}
{% load i18n static %}
{% block titles %}{% trans 'Picture List' %}{% endblock %}
{% block content %}
    <div class="row text-info text-right">
        <strong><a href="{% url 'upload:pic-add'%}">{% trans 'ADD PICTURE' %}</a></strong>
    </div>
{% if all_pics %}
    <div class="row">
        <ul class="list-inline">
        {% for pic in all_pics %}
        <li class="inline-group">
            {% if user.is_authenticated %}
            <a class="text-danger" href="{% url 'upload:pic-delete' pic.id %}"><i class="glyphicon glyphicon-remove"></i></a>
            {% endif %}
            <a href="{% get_media_prefix %}{{ pic.file }}" title="{% get_media_prefix %}{{ pic.file }}" class="thumbnail">
                <img class="img-rounded img-inline" src="{% get_media_prefix %}{{ pic.file }}" title="{{ pic.slug }}" />
            </a>
        </li>

        {% endfor %}
            </ul>
    </div>
{% else %}
    <p>{% trans '0 pictures.' %}</p>
{% endif %}
{% endblock %}